@model Basketball.Domain.Entities.Referee

@using Basketball.Common.Resources;

@{
    ViewBag.Title = "Edit Referee";
}

<h1>Edit Referee</h1>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    
}
@if (ViewBag.IsAdmin)
 {
     if (Model != null && Model.Id > 0)
      {
          using (Html.BeginForm("Delete", "Referees", new { id = Model.Id }))
          {
              @Html.AntiForgeryToken()
              <input type="submit" value="Delete" onclick=" return confirm('@FormMessages.DeleteConfirm');" />
          }
      }
 }
    

<p>
    @Html.ActionLink("Back to list", "Index")
</p>
