@model OneOffVenue

@using Basketball.Common.Resources;
@using Basketball.Domain.Entities

@{
    ViewBag.Title = "Edit One Off Venue";
}

<h1>Edit One Off Venue</h1>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    
}

@if (Model != null && Model.Id > 0)
{
    using (Html.BeginForm("Delete", "OneOffVenues", new { id = Model.Id} ))
    { 
         @Html.AntiForgeryToken()
        <input type="submit" value="Delete" onclick="return confirm('@FormMessages.DeleteConfirm');" />
    }
}

<p>
    @Html.ActionLink("Back to list", "Index")
</p>
