@{
    ViewBag.Title = "Documents";
}

@section meta {
    <meta name="description" content="Teesside Basketball League documents" />
    <meta name="keywords" content="documents, mintues" />
}

<h1>Documents</h1>

<h2>League Documents</h2>
<ul>
    <li><a rel="nofollow" href="@Url.Content("~/Content/docs/TBL_Constitution_and_rules.pdf")" title="Download document">Draft constitution and rules</a></li>
</ul>

<h2>Meeting Minutes</h2>
<ul>
	<li><a rel="nofollow" href="@Url.Content("~/Content/docs/AGM_July_2013.pdf")" title="Download document">AGM July 2013</a></li>
    <li><a rel="nofollow" href="@Url.Content("~/Content/docs/TBL_Registration_Meeting_05_09_12.pdf")" title="Download document">Registration meeting September 2012</a></li>
    <li><a rel="nofollow" href="@Url.Content("~/Content/docs/TBL_AGM_22_09_11.pdf")" title="Download document">AGM September 2011</a></li>
    <li><a rel="nofollow" href="@Url.Content("~/Content/docs/TBL_Pre_Season_Meeting_15_09_10.pdf")" title="Download document">Pre season meeting September 2010</a></li>
    <li><a rel="nofollow" href="@Url.Content("~/Content/docs/TBL_AGM_30_06_10.pdf")" title="Download document">AGM June 2010</a></li>
    <li><a rel="nofollow" href="@Url.Content("~/Content/docs/TBL_Comittee_Meeting_21_9_09.pdf")" title="Download document">Meeting September 2009</a></li>
</ul>

<h2>Miscellaneous</h2>
<ul>
    <li><a rel="nofollow" href="@Url.Content("~/Content/docs/Handicaps_2012_2013_Season.pdf")" title="Download document">List of handicaps for the 2012-2013 season</a></li>
    <li><a rel="nofollow" href="@Url.Content("~/Content/docs/New_England_Basketball_Rules_2012_2013.pdf")" title="Download document">New EB rules 2012-2013</a></li>
    <li><a rel="nofollow" href="@Url.Content("~/Content/docs/League_Referees_Contact_Details.pdf")" title="Download document">Referee contact details</a></li>
</ul>

<h2>2013 Junior CVL Results</h2>
<ul>
	<li><a rel="nofollow" href="@Url.Content("~/Content/docs/2013_Junior_CVL_results_and scorers_week_1.doc")" title="Download document">Week 1 results</a></li>
	<li><a rel="nofollow" href="@Url.Content("~/Content/docs/2013_Junior_CVL_results_and scorers_week_2.doc")" title="Download document">Week 2 results</a></li>
</ul>