@using Basketball.Common.Resources
@using Basketball.Web.Areas.Admin.ViewModels
@model PenaltyViewModel

@{
    ViewBag.Title = "Edit Penalty";
}

<h1>Edit Penalty</h1>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    
}

@if (Model != null && Model.Penalty.Id > 0)
{
    using (Html.BeginForm("Delete", "Penalties", new { id = Model.Penalty.Id} ))
    { 
         @Html.AntiForgeryToken()
        <input type="submit" value="Delete" onclick="return confirm('@FormMessages.DeleteConfirm');" />
    }
}

<p>
    @Html.ActionLink("Back to list", "Index")
</p>
