@model MyTeamViewModel

@using Basketball.Areas.TeamAdmin.ViewModels

@using Basketball.Common.Resources;

@{
    ViewBag.Title = "Edit Team";
}

<h1>Edit Team</h1>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    
}

@if (Model != null && Model.Team.Id > 0)
{
    using (Html.BeginForm("Delete", "Teams", new { id = Model.Team.Id} ))
    { 
         @Html.AntiForgeryToken()
        <input type="submit" value="Delete" onclick="return confirm('@FormMessages.DeleteConfirm');" />
    }
}

<p>
    @Html.ActionLink("Back to list", "Index")
</p>
