@using Basketball.Web.Areas.Admin.ViewModels
@model LeagueWinnerViewModel

@using Basketball.Common.Resources;

@{
    ViewBag.Title = "Edit League Winner";
}

<h1>Edit League Winner</h1>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    
}

@if (Model != null && Model.LeagueWinnerId > 0)
{
    using (Html.BeginForm("Delete", "LeagueWinners", new { id = Model.LeagueWinnerId} ))
    { 
         @Html.AntiForgeryToken()
        <input type="submit" value="Delete" onclick="return confirm('@FormMessages.DeleteConfirm');" />
    }
}

<p>
    @Html.ActionLink("Back to list", "Index")
</p>
